/* IMPORTANT: See the readme.md for the necessary setup */
/* Remove default styles */
#personal-bookmarks {
	width: 100%;
}
.toolbarbutton-text[value=""] {
	display: none !important;
}
#zen-sidebar-top-buttons {
	max-height: unset !important;
	min-height: unset !important;
	height: unset !important;
}
:root:not([zen-compact-mode="true"]) #zen-sidebar-top-buttons {
	padding-top: calc( var(--zen-toolbar-height) - 2px ) !important;
}
#zen-sidebar-top-buttons-customization-target {
	height: unset !important;
}

/* Warp Bookmarks */
#PlacesToolbarItems {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Number of columns */
}

/* Horizontal line */
#PlacesToolbar {
	flex-direction: column;
}

#PlacesToolbar:after {
	content: '';
	width: 96%;
	height: 1px;
	margin: 7px 2%;
	display: block;
	background: light-dark(rgba(1, 1, 1, 0.075), rgba(255, 255, 255, 0.1));
}

/* Style Bookmark items */
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder) {
	height: 36px !important;
	max-width: unset !important;
	background-color: var(--tab-hover-background-color) !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder) image {
	width: 18px !important;
	height: 18px !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder):hover {
	background-color: var(--tab-selected-bgcolor) !important;
	
}

/* Expand bookmarks with text */
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder):not([label=""]) {
	grid-column: auto / span 2;
}
toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-toolbar-placeholder):not([label=""]) image {
	margin-left: 5px;
	margin-right: 5.5px !important;;
}

/* Hide open all in tabs*/
.bookmarks-actions-menuseparator, .openintabs-menuitem {
	display: none;
}
